header {
  padding: 16px 24px;
}

.App {
  margin: 60px auto 0;
  padding: 0 60px;
}

.shareblock {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  margin-bottom: 32px;
}

.row:last-of-type {
  margin-bottom: 0;
}

.column {
  flex-direction: column;
  margin-right: 32px;
}

.column:last-of-type {
  margin-right: 0;
}

.question-mark {
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 1.5;
  margin-left: 8px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 16px !important;
  cursor: pointer;
}

.logo {
  display: flex;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .App {
    padding: 0 24px;
    margin-top: 32px;
  }

  h3 {
    margin-top: 24px;
  }
  .row {
    flex-direction: column;
    margin-bottom:  0;
  }

  .column {
    margin-right: 0;
  }

  .logo {
    position: absolute;
    bottom: -40%;
    left: 0;
  }
}